beautify()
  headStyle(fontsize)
    padding-left: unit(fontsize + 12, 'px')

    &:before
      margin-left: unit((-(fontsize + 6)), 'px')
      font-size: unit(fontsize, 'px')

    &:hover
      padding-left: unit(fontsize + 18, 'px')

  h1,
  h2,
  h3,
  h4,
  h5,
  h6
    transition: all .2s ease-out

    &:before
      position: absolute
      top: calc(50% - 7px)
      color: $title-prefix-icon-color
      content: $title-prefix-icon
      line-height: 1
      transition: all .2s ease-out
      @extend .fontawesomeIcon

    &:hover
      &:before
        color: $light-blue

  h1
    headStyle(20)

  h2
    headStyle(18)

  h3
    headStyle(16)

  h4
    headStyle(14)

  h5
    headStyle(12)

  h6
    headStyle(12)

  ol,
  ul
    p
      margin: 0 0 8px

  li
    &::marker
      color: $light-blue
      font-weight: 600
      font-size: 1.05em

    &:hover
      &::marker
        color: var(--pseudo-hover)

  ul > li
    list-style-type: circle
  
  hr
    @extend .custom-hr

#article-container
  word-wrap: break-word
  overflow-wrap: break-word

  a
    color: $theme-link-color

    &:hover
      text-decoration: underline

  img
    display: block
    margin: 0 auto 20px
    max-width: 100%
    transition: filter 375ms ease-in .2s

  p
    margin: 0 0 16px

  iframe
    margin: 0 0 20px

  kbd
    margin: 0 3px
    padding: 3px 5px
    border: 1px solid #b4b4b4
    border-radius: 3px
    background-color: #f8f8f8
    box-shadow: 0 1px 3px rgba(0, 0, 0, .25), 0 2px 1px 0 rgba(255, 255, 255, .6) inset
    color: #34495e
    white-space: nowrap
    font-weight: 600
    font-size: .9em
    font-family: Monaco, 'Ubuntu Mono', monospace
    line-height: 1em

  if hexo-config('anchor.button.enable')
    a.headerlink
      &:after
        @extend .fontawesomeIcon
        float: right
        color: var(--headline-presudo)
        content: $archor-button-icon
        font-size: .95em
        transition: all .3s

      &:hover
        &:after
          color: var(--pseudo-hover)

    if !hexo-config('anchor.button.always_show')
      a.headerlink
        &:after
          opacity: 0

      h1,
      h2,
      h3,
      h4,
      h5,
      h6
        &:hover
          a.headerlink
            &:after
              opacity: 1

  ol,
  ul
    ol,
    ul
      padding-left: 20px

    li
      margin: 4px 0

    p
      margin: 0 0 8px

  > :last-child
    margin-bottom: 0 !important

  hr
    margin: 20px 0

  if hexo-config('beautify.enable')
    if hexo-config('beautify.field') == 'site'
      beautify()
    else if hexo-config('beautify.field') == 'post'
      &.post-content
        beautify()

#post
  .tag_share
    &:after
      display: block
      clear: both
      content: ''

    .post-meta
      &__tag-list
        display: inline-block

      &__tags
        display: inline-block
        margin: 8px 8px 8px 0
        padding: 0 12px
        width: fit-content
        border: 1px solid $light-blue
        border-radius: 12px
        color: $light-blue
        font-size: .85em
        transition: all .2s ease-in-out

        &:hover
          background: $light-blue
          color: var(--white)

    .post_share
      display: inline-block
      float: right
      margin: 8px 0 0
      width: fit-content

      .social-share
        font-size: .85em

        .social-share-icon
          margin: 0 4px
          width: w = 1.85em
          height: w
          font-size: 1.2em
          line-height: w

  .post-copyright
    position: relative
    margin: 40px 0 10px
    padding: 10px 16px
    border: 1px solid var(--light-grey)
    transition: box-shadow .3s ease-in-out

    &:before
      @extend .fontawesomeIcon
      position: absolute
      top: 2px
      right: 12px
      color: $theme-color
      content: '\f1f9'
      font-size: 1.3em

    &:hover
      box-shadow: 0 0 8px 0 rgba(232, 237, 250, .6), 0 2px 4px 0 rgba(232, 237, 250, .5)

    .post-copyright
      &-meta
        color: $light-blue
        font-weight: bold

      &-info
        padding-left: 6px

        a
          text-decoration: underline
          word-break: break-word

          &:hover
            text-decoration: none

  .post-outdate-notice
    position: relative
    margin: 0 0 20px
    padding: .5em 1.2em
    border-radius: 3px
    background-color: $noticeOutdate-bg
    color: $noticeOutdate-color

    if hexo-config('noticeOutdate.style') == 'flat'
      padding: .5em 1em .5em 2.6em
      border-left: 5px solid $noticeOutdate-border

      &:before
        @extend .fontawesomeIcon
        position: absolute
        top: 50%
        left: .9em
        color: $noticeOutdate-border
        content: '\f071'
        transform: translateY(-50%)

  .ads-wrap
    margin: 40px 0
#mainbody
  display: flex
  #post
    background: none
    box-shadow: none
    &:hover
      box-shadow: none
  #content_leftside
    flex: 1
    width: fill-available
    width: -webkit-fill-available
    display: flex
    flex-direction: row-reverse
    #left_menu
      top: -1rem
      opacity: 0
      pointer-events: none
      transition: all 0.3s ease-in-out
      position: fixed
      display: flex
      height: 100%
      width: 1.5rem
      padding: 0.5rem
      margin: 0 auto
      flex-direction: column
      justify-content: center
      align-items: center
      translate: -0.7rem 0
      i
        color: #000
      .leftside-social
        text-align: center
        opacity: 0.7
        width: 1.5rem
        margin: 0.4rem
        transition: all 0.5s
        .fa-fw
          margin: 0.5rem 0
          transition: all 0.3s
          transform: scale(1.3)
        &:hover
          opacity: 1
      .leftside-contents
      .leftside-comment
      .leftside-qq
      .leftside-rmb
        text-align: center
        margin-bottom: 0.25rem
        opacity: 0.7
        width: 1.5rem
        height: 1.5rem
        font-weight: bold
        transition: all 0.5s
        a
          font-weight: bolder
        .fas
          margin: 0.5rem 0
          width: 1.25em
        .fas::hover
          transform: scale(1.3)
        &:hover
          opacity: 1
      .leftside-contents
        border-radius: 1rem
        box-shadow: 0 0 5px #000
        margin-bottom: 0.5rem
    #left_display
      // box-shadow: 0 0 5px #000
      width: inherit
      height: 100%
      margin-right: 3rem
      display: flex
      align-items: center
      position: fixed
      top: -0.62rem
      flex-direction: row-reverse
      .candy_qrcode
        transition: all 0.3s ease-in-out
        opacity: 0
        pointer-events: none
        max-width: 9rem
        width: 100%


  #content_rightside
    flex: 1
    width: fill-available
    width: -webkit-fill-available
    display: flex
    flex-direction: row
    #rightside-toc
      top: -1rem
      opacity: 0
      pointer-events: none
      transition: all 0.3s ease-in-out
      position: fixed
      display: flex
      height: 100%
      width: inherit
      padding: 0.5rem
      flex-direction: row
      align-items: center

      .item-headline
        font-size: 1rem
        font-weight: bold
        display: flex
        flex-direction: column
        span
          margin-left: 0.5rem
      span.toc-text
        color: #000
      .toc-box
        height: 10rem
        width: 100%
        // box-shadow: 0 0 5px #000
        overflow: hidden
      .toc-content
        translate: 0 4.25rem
        transition: all 0.5s
        // height: 100%
      ol
        padding: 0
        margin: 0        
        list-style-type: none
      li::marker
        content: none
      li::before
        float: left
        // counter-increment: section
        // content: counters(section,".") " "
      .toc
        font-weight: bold
        width: 100%
        height: inherit
        overflow-y: scroll
        overflow-x: hidden
        // height: 10rem
        margin-top: 0.1rem
        // padding-left: 0
        list-style-type: none
        .toc-child
          // padding: 0
          list-style-type: none
      .toc::-webkit-scrollbar
        width: 0 !important
      .toc-link
        line-height: 1.5rem
        max-height: 1.5rem
        white-space: nowrap
        display: block
        // border-left: 0.1rem solid transparent
        color: var(--btn-bg)
        transition: all 0.5s
        padding-left: 0.5rem
        span.toc-text
          text-overflow: ellipsis
          color: #000
        &:hover span.toc-text
          color: #000
        &.active
          transform: scale(1.3)
          transform-origin: 2.5rem 0.75rem
          font-weight: bolder
      .toc-item
        transition: all 0.5s ease-in-out
        opacity: 0.5
        // 目录缩进结构
        &.toc-level-1
          &:before
            content: " "
            margin: 0.65rem 0.4rem 0.65rem 0
            width: 1rem
            height: 0.2rem
            border-radius: 0.1rem
            background: #000
        &.toc-level-2
          &:before
            content: " "
            margin: 0.65rem 0.7rem 0.65rem 0
            width: 1rem
            height: 0.2rem
            border-radius: 0.1rem
            background: #000
        &.toc-level-3
          &:before
            content: " "
            margin: 0.65rem 1.2rem 0.65rem 0
            width: 0.8rem
            height: 0.2rem
            border-radius: 0.1rem
            background: #000
        &.toc-level-4
        &.toc-level-5
        &.toc-level-6
          &:before
            content: " "
            margin: 0.65rem 1.7rem 0.65rem 0
            width: 0.6rem
            height: 0.2rem
            border-radius: 0.1rem
            background: #000
        

        &.active
          transition: all 0.5s ease-in-out
          opacity: 1
          .toc-child
            display: block
        &:hover
          opacity: 1
    #rightside-button
      position: fixed
      z-index: 101
      display: flex
      bottom: -3rem
      align-items: center
      justify-content: center
      flex-direction: column
      transition: all .5s

      button
        background: var(--card-bg)
        height: 2rem
        width: 2rem
        border-radius: 1rem
        font-size: 0.8rem
        box-shadow: 0 0 5px #000
        margin: 0.25rem 0

[data-theme="dark"]
  #mainbody
    #content_leftside
      a
        &:hover
          color: #a153ff
      #left_menu
        .leftside-contents
          box-shadow: 0 0 5px #fff
        i
          color: #fff
        .leftside-contents span
          color: #fff
      #left_display
        .candy_qrcode
          filter: invert(1)
    #content_rightside
      #rightside-toc
        span.toc-text
          color: #fff
        .toc-link
          color: var(--btn-bg)
          span.toc-text
            color: #fff
          &:hover span.toc-text
            color: #fff
        .toc-item
          // 目录缩进结构
          &.toc-level-1
            &:before
              background: #fff
          &.toc-level-2
            &:before
              background: #fff
          &.toc-level-3
            &:before
              background: #fff
          &.toc-level-4
          &.toc-level-5
          &.toc-level-6
            &:before
              background: #fff

      #rightside-button
        button
          background: var(--card-bg)
          box-shadow: 0 0 5px #fff
          i
            color: #fff

.start
.end 
  font-family: 'Noto Serif SC', -apple-system, BlinkMacSystemFont, Roboto, Segoe UI, Helvetica, Arial, serif
  font-size: large
  font-weight: bolder
  opacity: 0.5

@media screen and (max-width: 1200px)
  #content_leftside
    #left_menu
      display: none !important
  #content_rightside
    #rightside-toc
      display: none !important

@media screen and (max-width: 1100px)
  #mainbody
    display: block
    #content_leftside
      display: none !important
    #content_rightside
      display: none !important
