- var top_img = theme.error_404.background || theme.default_top_img

#body-wrap.error404
  include ./header/index.pug
  body
    if theme.preloader
      !=partial('includes/loading/loading', {}, {cache: true})

    #error-wrap
      .error-content
        .error-img(style=bg_img)
        .error-info
          h1.error_title= '404'
          .error_subtitle= theme.error_404.subtitle
          a.button--animated(href=config.root)
            i.fas.fa-rocket
            = _p('error404.back_button')
