.tag-cloud-title.is-center= _p('page.tag')
  |  - 
  span.tag-cloud-amount= site.tags.length
.tag-cloud-list.is-center
  !=cloudTags({source: page.tags, minfontsize: 1.5, maxfontsize: 1.8, limit: 0, unit: 'em'})
